@use 'variables' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

a, button, i, .testimonial-card {
    @include transition-base;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}